In [97]:
!pip install gspread

Requirement already satisfied: gspread in c:\users\shubh\anaconda3\lib\site-packages (5.7.2)
Requirement already satisfied: google-auth-oauthlib>=0.4.1 in c:\users\shubh\anaconda3\lib\site-packages (from gspread) (0.8.0)
Requirement already satisfied: google-auth>=1.12.0 in c:\users\shubh\anaconda3\lib\site-packages (from gspread) (2.15.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in c:\users\shubh\anaconda3\lib\site-packages (from google-auth>=1.12.0->gspread) (0.2.8)
Requirement already satisfied: rsa<5,>=3.1.4 in c:\users\shubh\anaconda3\lib\site-packages (from google-auth>=1.12.0->gspread) (4.9)
Requirement already satisfied: six>=1.9.0 in c:\users\shubh\anaconda3\lib\site-packages (from google-auth>=1.12.0->gspread) (1.16.0)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in c:\users\shubh\anaconda3\lib\site-packages (from google-auth>=1.12.0->gspread) (5.2.0)
Requirement already satisfied: requests-oauthlib>=0.7.0 in c:\users\shubh\anaconda3\lib\site-packages (from google-auth-oauthlib>=0.4.1->gspread) (1.3.1)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in c:\users\shubh\anaconda3\lib\site-packages (from pyasn1-modules>=0.2.1->google-auth>=1.12.0->gspread) (0.4.8)
Requirement already satisfied: requests>=2.0.0 in c:\users\shubh\anaconda3\lib\site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2.28.1)
Requirement already satisfied: oauthlib>=3.0.0 in c:\users\shubh\anaconda3\lib\site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (3.2.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\shubh\anaconda3\lib\site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (1.26.11)
Requirement already satisfied: idna<4,>=2.5 in c:\users\shubh\anaconda3\lib\site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (3.3)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\shubh\anaconda3\lib\site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\shubh\anaconda3\lib\site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2022.9.14)

In [141]:
import gspread
sa = gspread.service_account(filename="keys.json")
sheet = sa.open("Income _ Expense")
work_sheet = sheet.worksheet("inex")

In [142]:
import pandas as pd
df = pd.DataFrame(work_sheet.get_all_values())
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,Date,Account,Category,Subcategory,Note,INR,Income/Expense,Note,Amount,Currency,Account,,,
1,3/2/2022 10:11,CUB - online payment,Food,,Brownie,50,Expense,,50,INR,50,,,
2,3/2/2022 10:11,CUB - online payment,Other,,To lended people,300,Expense,,300,INR,300,,,
3,3/1/2022 19:50,CUB - online payment,Food,,Dinner,78,Expense,,78,INR,78,,,
4,3/1/2022 18:56,CUB - online payment,Transportation,,Metro,30,Expense,,30,INR,30,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
273,11/22/2021 14:16,CUB - online payment,Food,,Dinner,90,Expense,,90,INR,90,,,
274,11/22/2021 14:16,CUB - online payment,Food,,Lunch with company,97,Expense,,97,INR,97,,,
275,11/21/2021 17:07,CUB - online payment,Transportation,,Rapido,130,Expense,,130,INR,130,,,
276,11/21/2021 15:50,CUB - online payment,Food,,Lunch,875,Expense,,875,INR,875,,,
277,11/21/2021 13:30,CUB - online payment,Other,,Got from gobi,2000,Income,,2000,INR,2000,,,

In [143]:
df. columns=df. iloc[0]
df

,Date,Account,Category,Subcategory,Note,INR,Income/Expense,Note,Amount,Currency,Account,,,
0,Date,Account,Category,Subcategory,Note,INR,Income/Expense,Note,Amount,Currency,Account,,,
1,3/2/2022 10:11,CUB - online payment,Food,,Brownie,50,Expense,,50,INR,50,,,
2,3/2/2022 10:11,CUB - online payment,Other,,To lended people,300,Expense,,300,INR,300,,,
3,3/1/2022 19:50,CUB - online payment,Food,,Dinner,78,Expense,,78,INR,78,,,
4,3/1/2022 18:56,CUB - online payment,Transportation,,Metro,30,Expense,,30,INR,30,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
273,11/22/2021 14:16,CUB - online payment,Food,,Dinner,90,Expense,,90,INR,90,,,
274,11/22/2021 14:16,CUB - online payment,Food,,Lunch with company,97,Expense,,97,INR,97,,,
275,11/21/2021 17:07,CUB - online payment,Transportation,,Rapido,130,Expense,,130,INR,130,,,
276,11/21/2021 15:50,CUB - online payment,Food,,Lunch,875,Expense,,875,INR,875,,,
277,11/21/2021 13:30,CUB - online payment,Other,,Got from gobi,2000,Income,,2000,INR,2000,,,

In [144]:
df = df.iloc[1: , :]
df

,Date,Account,Category,Subcategory,Note,INR,Income/Expense,Note,Amount,Currency,Account,,,
1,3/2/2022 10:11,CUB - online payment,Food,,Brownie,50,Expense,,50,INR,50,,,
2,3/2/2022 10:11,CUB - online payment,Other,,To lended people,300,Expense,,300,INR,300,,,
3,3/1/2022 19:50,CUB - online payment,Food,,Dinner,78,Expense,,78,INR,78,,,
4,3/1/2022 18:56,CUB - online payment,Transportation,,Metro,30,Expense,,30,INR,30,,,
5,3/1/2022 18:22,CUB - online payment,Food,,Snacks,67,Expense,,67,INR,67,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
273,11/22/2021 14:16,CUB - online payment,Food,,Dinner,90,Expense,,90,INR,90,,,
274,11/22/2021 14:16,CUB - online payment,Food,,Lunch with company,97,Expense,,97,INR,97,,,
275,11/21/2021 17:07,CUB - online payment,Transportation,,Rapido,130,Expense,,130,INR,130,,,
276,11/21/2021 15:50,CUB - online payment,Food,,Lunch,875,Expense,,875,INR,875,,,
277,11/21/2021 13:30,CUB - online payment,Other,,Got from gobi,2000,Income,,2000,INR,2000,,,

In [145]:
df['Amount'] = df['Amount'].astype('float')
#df = df.astype({'Amount':'float'})
#df['Amount'].dtypes

C:\Users\shubh\AppData\Local\Temp\ipykernel_10500\3084193285.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Amount'] = df['Amount'].astype('float')

In [146]:
df.dtypes

0
Date               object
Account            object
Category           object
Subcategory        object
Note               object
INR                object
Income/Expense     object
Note               object
Amount            float64
Currency           object
Account            object
                   object
                   object
                   object
dtype: object

In [147]:
Income = df[df['Income/Expense'] == 'Income']['Amount'].sum()
print(Income)

65654.0

In [148]:
Expense = df.loc[df['Income/Expense'] == 'Expense', 'Amount'].sum()
print(Expense)

57918.28

In [149]:
Food = df.loc[df['Category'] == 'Food', 'Amount'].sum()
print(Food)

23396.76

In [150]:
Transportation = df.loc[df['Category'] == 'Transportation', 'Amount'].sum()
print(Transportation)

9203.8

In [151]:
 Social_life = df.loc[df['Category'] == 'Social Life', 'Amount'].sum()
print(Social_life)

2513.7200000000003

In [152]:
Household = df.loc[df['Category'] == 'Household', 'Amount'].sum()
print(Household)

12188.0

In [153]:
 Apparel= df.loc[df['Category'] == 'Apparel', 'Amount'].sum()
print(Apparel)

3388.0

In [154]:
Education = df.loc[df['Category'] == 'Education', 'Amount'].sum()
print(Education)

1400.0

In [155]:
Salary = df.loc[df['Category'] == 'Salary', 'Amount'].sum()
print(Salary)

15000.0

In [156]:
Allowance = df.loc[df['Category'] == 'Allowance', 'Amount'].sum()
print(Allowance)

14000.0

In [157]:
 Beauty= df.loc[df['Category'] == 'Beauty', 'Amount'].sum()
print(Beauty)

196.0

In [158]:
Gift = df.loc[df['Category'] == 'Gift', 'Amount'].sum()
print(Gift)

115.0

In [159]:
Petty_cash= df.loc[df['Category'] == 'Petty cash', 'Amount'].sum()
print(Petty_cash)

3.0

In [160]:
Other = df.loc[(df['Category'] == 'Other') & (df['Income/Expense']== 'Expense'),'Amount'].sum()
print(Other)

5117.0

In [161]:
Available_for_investment = Income - Expense
print(Available_for_investment)

7735.720000000001

In [162]:
FR = gspread.service_account(filename="keys.json")
Final = FR.open("Final_Report")
Final_Report = Final.worksheet("Sheet1")

In [163]:
Income_update = Final_Report.update('C7',Income)

In [164]:
Expense_update=Final_Report.update('C8',Expense)

In [165]:
Food_update=Final_Report.update('C10',Food)

In [166]:
Other_update=Final_Report.update('C11',Other)

In [167]:
Transportation_update=Final_Report.update('C12',Transportation)

In [168]:
Social_life_update=Final_Report.update('C13',Social_life)

In [169]:
Household_update=Final_Report.update('C14',Household)

In [170]:
Apparel_update=Final_Report.update('C15',Apparel)

In [171]:
Education_update=Final_Report.update('C16',Education)

In [172]:
Salary_update=Final_Report.update('C17',Salary)

In [173]:
Allowance_update=Final_Report.update('C18',Allowance)

In [174]:
Beauty_update=Final_Report.update('C19',Beauty)

In [175]:
Gift_update=Final_Report.update('C20',Gift)

In [176]:
Petty_cash_update=Final_Report.update('C21',Petty_cash)

In [177]:
Available_for_investment_update=Final_Report.update('C24',Available_for_investment)

In [178]:
BSE500 = sa.open("BSE500")
BS500 = BSE500.worksheet("bse500")

In [179]:
b5 = pd.DataFrame(BS500.get_all_values())
b5

,0,1,2,3,4,5,6,7,8,9,...,34,35,36,37,38,39,40,41,42,43
0,Company,BSE code,NSE code,ISIN,Sector,Industry,Date,Price,1 day change(%),52 Week Low,...,Price / Sales,Price / Cash Flow,Earning Per Share,Book Value Per Share,Cash Flow Per Share,Free Cash Flow Per Share,Dividend Per Share,CO-Relation DPS & Mcap,DELTA,Profile
1,Sanofi India Ltd.,500674,SANOFI,INE058A01010,Healthcare,Drugs & Pharma,2022-09-05,"6,158.70",0.59,"6,086.30",...,4.98,25.39,425.09,631.65,242.96,459.22,490.00,0.04,0.28,FALSE
2,Page Industries Ltd.,532827,PAGEIND,INE761H01022,Textiles,Readymade Garments,2022-09-05,"49,786.20",-0.26,"31,500.00",...,11.75,169.84,656.83,"1,161.63",293.09,191.03,370.00,0.06,0.03,Low Risk Taking
3,Procter & Gamble Hygiene & Health Care Ltd.,500459,PGHH,INE179A01014,Consumer Staples,Household & Personal Products,2022-09-05,"14,125.65",0.24,"12,801.00",...,12.10,53.17,177.37,227.22,265.90,270.47,315.00,0.06,0.14,FALSE
4,Abbott India Ltd.,500488,ABBOTINDIA,INE358A01014,Healthcare,Drugs & Pharma,2022-09-05,"18,209.00",-1.26,"15,514.00",...,7.73,40.84,380.52,"1,403.00",445.96,446.90,275.00,0.07,0.24,Low Risk Taking
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
497,Westlife Development Ltd.,505533,WESTLIFE,INE274F01020,Services,Restaurants,2022-09-05,650.05,0.82,402.30,...,7.81,59.43,3.55,30.99,10.94,1.29,0.00,#DIV/0!,0.05,FALSE
498,Wockhardt Ltd.,532300,WOCKPHARMA,INE049B01025,Healthcare,Drugs & Pharma,2022-09-05,242.70,3.01,201.50,...,1.18,8.48,-20.70,260.73,28.68,8.54,0.00,#DIV/0!,0.51,FALSE
499,Yes Bank Ltd.,532648,YESBANK,INE528G01035,Financial,Banking,2022-09-05,16.65,2.78,10.80,...,2.13,1.77,0.47,13.61,9.42,7.86,0.00,#DIV/0!,0.07,FALSE
500,Zomato Ltd.,543320,ZOMATO,INE758T01015,Services,E-Commerce,2022-09-05,59.65,-0.17,40.60,...,10.71,-73.58,-1.21,23.01,-0.91,-1.16,0.00,#DIV/0!,0.65,FALSE
501,Tata Motors DVR,570001,TATAMTRDVR,IN9155A01020,Automobile,Commercial Vehicles,2022-09-05,227.80,-0.96,137.50,...,,,,,,,,#DIV/0!,0.24,FALSE

In [180]:
b5. columns=b5. iloc[0]
b5

,Company,BSE code,NSE code,ISIN,Sector,Industry,Date,Price,1 day change(%),52 Week Low,...,Price / Sales,Price / Cash Flow,Earning Per Share,Book Value Per Share,Cash Flow Per Share,Free Cash Flow Per Share,Dividend Per Share,CO-Relation DPS & Mcap,DELTA,Profile
0,Company,BSE code,NSE code,ISIN,Sector,Industry,Date,Price,1 day change(%),52 Week Low,...,Price / Sales,Price / Cash Flow,Earning Per Share,Book Value Per Share,Cash Flow Per Share,Free Cash Flow Per Share,Dividend Per Share,CO-Relation DPS & Mcap,DELTA,Profile
1,Sanofi India Ltd.,500674,SANOFI,INE058A01010,Healthcare,Drugs & Pharma,2022-09-05,"6,158.70",0.59,"6,086.30",...,4.98,25.39,425.09,631.65,242.96,459.22,490.00,0.04,0.28,FALSE
2,Page Industries Ltd.,532827,PAGEIND,INE761H01022,Textiles,Readymade Garments,2022-09-05,"49,786.20",-0.26,"31,500.00",...,11.75,169.84,656.83,"1,161.63",293.09,191.03,370.00,0.06,0.03,Low Risk Taking
3,Procter & Gamble Hygiene & Health Care Ltd.,500459,PGHH,INE179A01014,Consumer Staples,Household & Personal Products,2022-09-05,"14,125.65",0.24,"12,801.00",...,12.10,53.17,177.37,227.22,265.90,270.47,315.00,0.06,0.14,FALSE
4,Abbott India Ltd.,500488,ABBOTINDIA,INE358A01014,Healthcare,Drugs & Pharma,2022-09-05,"18,209.00",-1.26,"15,514.00",...,7.73,40.84,380.52,"1,403.00",445.96,446.90,275.00,0.07,0.24,Low Risk Taking
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
497,Westlife Development Ltd.,505533,WESTLIFE,INE274F01020,Services,Restaurants,2022-09-05,650.05,0.82,402.30,...,7.81,59.43,3.55,30.99,10.94,1.29,0.00,#DIV/0!,0.05,FALSE
498,Wockhardt Ltd.,532300,WOCKPHARMA,INE049B01025,Healthcare,Drugs & Pharma,2022-09-05,242.70,3.01,201.50,...,1.18,8.48,-20.70,260.73,28.68,8.54,0.00,#DIV/0!,0.51,FALSE
499,Yes Bank Ltd.,532648,YESBANK,INE528G01035,Financial,Banking,2022-09-05,16.65,2.78,10.80,...,2.13,1.77,0.47,13.61,9.42,7.86,0.00,#DIV/0!,0.07,FALSE
500,Zomato Ltd.,543320,ZOMATO,INE758T01015,Services,E-Commerce,2022-09-05,59.65,-0.17,40.60,...,10.71,-73.58,-1.21,23.01,-0.91,-1.16,0.00,#DIV/0!,0.65,FALSE
501,Tata Motors DVR,570001,TATAMTRDVR,IN9155A01020,Automobile,Commercial Vehicles,2022-09-05,227.80,-0.96,137.50,...,,,,,,,,#DIV/0!,0.24,FALSE

In [181]:
b5 = b5.iloc[1: , :]
b5

,Company,BSE code,NSE code,ISIN,Sector,Industry,Date,Price,1 day change(%),52 Week Low,...,Price / Sales,Price / Cash Flow,Earning Per Share,Book Value Per Share,Cash Flow Per Share,Free Cash Flow Per Share,Dividend Per Share,CO-Relation DPS & Mcap,DELTA,Profile
1,Sanofi India Ltd.,500674,SANOFI,INE058A01010,Healthcare,Drugs & Pharma,2022-09-05,"6,158.70",0.59,"6,086.30",...,4.98,25.39,425.09,631.65,242.96,459.22,490.00,0.04,0.28,FALSE
2,Page Industries Ltd.,532827,PAGEIND,INE761H01022,Textiles,Readymade Garments,2022-09-05,"49,786.20",-0.26,"31,500.00",...,11.75,169.84,656.83,"1,161.63",293.09,191.03,370.00,0.06,0.03,Low Risk Taking
3,Procter & Gamble Hygiene & Health Care Ltd.,500459,PGHH,INE179A01014,Consumer Staples,Household & Personal Products,2022-09-05,"14,125.65",0.24,"12,801.00",...,12.10,53.17,177.37,227.22,265.90,270.47,315.00,0.06,0.14,FALSE
4,Abbott India Ltd.,500488,ABBOTINDIA,INE358A01014,Healthcare,Drugs & Pharma,2022-09-05,"18,209.00",-1.26,"15,514.00",...,7.73,40.84,380.52,"1,403.00",445.96,446.90,275.00,0.07,0.24,Low Risk Taking
5,Bosch Ltd.,500530,BOSCHLTD,INE323A01026,Automobile,Auto Ancillaries,2022-09-05,"17,591.10",0.13,"12,932.45",...,4.03,192.66,438.11,"3,734.33",91.29,46.68,210.00,0.08,0.09,FALSE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
497,Westlife Development Ltd.,505533,WESTLIFE,INE274F01020,Services,Restaurants,2022-09-05,650.05,0.82,402.30,...,7.81,59.43,3.55,30.99,10.94,1.29,0.00,#DIV/0!,0.05,FALSE
498,Wockhardt Ltd.,532300,WOCKPHARMA,INE049B01025,Healthcare,Drugs & Pharma,2022-09-05,242.70,3.01,201.50,...,1.18,8.48,-20.70,260.73,28.68,8.54,0.00,#DIV/0!,0.51,FALSE
499,Yes Bank Ltd.,532648,YESBANK,INE528G01035,Financial,Banking,2022-09-05,16.65,2.78,10.80,...,2.13,1.77,0.47,13.61,9.42,7.86,0.00,#DIV/0!,0.07,FALSE
500,Zomato Ltd.,543320,ZOMATO,INE758T01015,Services,E-Commerce,2022-09-05,59.65,-0.17,40.60,...,10.71,-73.58,-1.21,23.01,-0.91,-1.16,0.00,#DIV/0!,0.65,FALSE
501,Tata Motors DVR,570001,TATAMTRDVR,IN9155A01020,Automobile,Commercial Vehicles,2022-09-05,227.80,-0.96,137.50,...,,,,,,,,#DIV/0!,0.24,FALSE